.correct-answer {
  background-color: #15c39a;;
}

.wrong-answer {
  background-color: red;;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.mt {
  margin-top: 30px;
}

.new-quiz-btn {
  display: block;
  width: 100%;
}

.score {
  width: 300px;
  text-align: center;
  margin-left: auto;
}
